@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-size:12px;
	}
body
{
	background-color:#F5F5F5;
	
	}
.top
{
	width:100%;
	height:27px;
	background:url(../images/top_bg.jpg) repeat-x;
	}
.top_content
{
	width:1000px;
	margin:0 auto;
	}
.top_content li{
	list-style-image:url(../images/li_bg.gif);
	float:right;
	width:70px;
	line-height:27px;
	}
.top_content a:link,.top_content a:visited
{
	color:#8E8E8E;
	text-decoration:none;
	}
.top_content a:hover,.top_content a:active
{
	color:#900;
	text-decoration:none;
	}
	
.wrap
{
	width:1000px;
	margin:0 auto;}
.logo
{
	height:80px;
	background-color:#FFF}
.logo_left
{
	width:300px;
	float:left;
	}
.logo_right
{
	width:300px;
	float:right;
	height:28px;
	margin-top:30px;
	color:8E8E8E}
.logo_right img
{
	vertical-align:middle;
	margin-right:10px;
	}
.tel
{
	font-family:"微软雅黑";
	font-size:16px;
	color:#C00;}
.nav
{
	height:40px;}

.nav_left
{
	width:10px;
	background:url(../images/nav_left.jpg) no-repeat;

}
.nav_mid{
	width:980px;
	background:url(../images/nav_bg.jpg) repeat-x;

	}
.nav_right
{
	width:10px;
	background:url(../images/nav_right.jpg) no-repeat;

}
.nav_left,.nav_mid,.nav_right
{
	height:40px;
	float:left;
}

.nav_mid_left,.nav_mid_right
{
	float:left;
}

.nav_mid_left
{
	width:680px;
}

.nav_mid_right
{
	width:300px;
}

.nav_mid_left li
{
	float:left;
	list-style-type:none;
	width:100px;
	text-align:center;
	line-height:40px;
}
.nav_mid_left a:link,.nav_mid_left a:visited
{
	text-decoration:none;
	color:#FFF;
	font-size:16px;
	font-family:"微软雅黑";
	}
.nav_mid_left a:hover,.nav_mid_left a:active
{
	text-decoration:none;
	color:#FF0;
	font-size:16px;
	font-family:"微软雅黑";
	}
.search_text
{
	width:190px;
	height:25px;
	margin-top:5px;
	background:url(../images/search.jpg) no-repeat right center;
	background-color:#FFF;
	padding-right:25px;
	border:1px solid #FFF;
}

.ad
{
	height:310px;
	overflow:hidden;
}

.main
{
	height:250px;
	background-color:#FFF;
	margin-top:5px;
}

.news
{
	width:340px;
	border:1px solid #E8E8E8;
}

.course
{
	width:410px;
	border:1px solid #E8E8E8;
	margin:0 7px;
}
.sidebar
{
	width:230px;

}

.news,.course,.sidebar
{
	height:250px;
	float:left;
}

.title
{
	height:35px;
	border-bottom:2px solid #E8E8E8;
	}

.title_left
{
	width:70%;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	color:#786F66;
	float:left;
	line-height:35px;
	padding-left:20px;}
	
.title_right
{
	width:20%;
	float:right;
	line-height:35px;
	text-align:right;
	padding-right:10px;}
.title_right a
{
	text-decoration:none;
	color:#999999}

.pic_news
{
	height:80px;
	margin-top:10px;
	line-height:22px;}

.pic_news img,.course_pic img
{
	float:left;
	margin:0 5px;
}

.pic_news a,.course_pic a
{
	color:#C00;
	text-decoration:none;}

.news_list
{
	margin-top:20px;
}
	
.news_list li
{
	list-style-type:none;
	background:url(../images/list.jpg) no-repeat;
	margin:8px;
	padding-left:10px;
	border-bottom:1px dotted #CCC;}

.news_list a:link,.news_list a:visited
{
	text-decoration:none;
	color:#000;}

.news_list a:hover,.news_list a:active
{
	text-decoration:none;
	color:#F00;}

.news_list span
{
	color:#999;
	float:right;}

.course_pic
{
	height:120px;
	margin-top:10px;
	line-height:20px;
	}
.course_type
{
	height:37px;
	width:372psx;
	background:url(../images/product_type_bg.jpg) no-repeat;
	margin:20px auto;}

.course_type li
{
	list-style-type:none;
	float:left;
	line-height:37px;
	margin:0 15px;
	text-align:center;}

.video
{
	border:1px solid #E8E8E8;}
	
.video_content
{
	height:150px;}
.sidebar_ad
{
	height:55px;
	border:1px solid #E8E8E8;
	margin-top:10px;}

.copyright
{
	width:100%;
	height:200px;
	background-color:#E8E8E8;
	margin-top:10px;
	clear:both;}

.copyright_content
{
	width:1000px;
	margin:0 auto;}
	
.copyright_content li
{
	list-style-type:none;
	float:left;
	width:200px;
	background:url(../images/line.png) no-repeat right center;
	line-height:30px;
	font-family:"微软雅黑";
	text-align:center;}

.copyright_content a
{
	text-decoration:none;
	color:#999;
	font-size:18px;}
.copyright_content li ul li a
{
	font-size:14px;}

.list_main
{
	min-height:350px;
	_height:350px;
	background-color:#FFF;
	margin-top:10px;}
.news_type
{
	width:220px;
	height:350px;
	border:1px solid #E8E8E8;
	float:left;}

.list_box
{
	width:770px;
	min-height:350px;
	_height:350px;
	border:1px solid #E8E8E8;
	float:right;
	}
	
.news_type h2
{
	height:35px;
	line-height:35px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#666;
	background:url(../images/titile_bg.gif) repeat-x;
	padding-left:20px;
	}

.news_type_content
{
	height:365px;
	background:url(../images/content_bg.gif) repeat-x;}
	
.news_type_content li
{
	list-style-type:none;
	height:30px;
	line-height:30px;}
.news_type_content li a
{
	color:#666;
	text-decoration:none;
	background:url(../images/li_bg.gif) no-repeat left center;
	padding-left:15px;
	display:block;}
	
.news_type_content li a:hover
{
	color:#009CDF;
	background:url(../images/li_bg2.gif) no-repeat left center;
	background-color:#F2F2F2;}

.list_box h2
{
	font-size:14px;
	font-family:"微软雅黑";
	color:#666;
	height:35px;
	line-height:35px;
	background:url(../images/type_bg.png) repeat-x;
	padding-left:20px;}

.page
{
	height:40px;
	margin-top:10px;
	text-align:center;
	}
.page a
{
	display:inline-block;
	border:1px solid #E8E8E8;
	text-decoration:none;
	margin:5px;
	padding:5px 10px;}
	
.page a:link,.page a:visited
{
	color:#000;}

.page a:hover,.page a:active
{
	color:#FFF;
	background-color:#cc1b1b;}

.newsTitle
{
	font-family:"微软雅黑";
	font-size:20px;
	text-align:center;
	margin:10px 0;}

.newsInfo
{
	color:#666;
	text-align:center;
	border-bottom:1px dotted #666;}

.newsContent
{
	font-size:14px;
	padding:20px;
	line-height:25px;
	text-indent:2em;
	background-color:#FFF;}